
/* colors */

$black: #000;
$medium-black: #121212;
$light-black: #1f1f1f;
$darkest-grey: #2f2f2f;
$darker-grey: #313233;
$dark-grey: #363636;
$medium-grey-dark: #888;
$medium-grey: #777;
$light-grey: #ddd;
$lighter-grey: #eee;
$lightest-grey: #f9f9f9;
$white: #fff;

$dark-turquise: #2c3d3d;
$salmon-red: #e86256;
$yellow: #f2c351;
$light-yellow: #ffce55;
$lightest-blue: #ebf2f6;



/* sizes */




/* fonts */

$roboto: 'Roboto' ,Helvetica, Arial, sans-serif;




/* breakpoints */

$small-phone-max: 320px;
$phone-max: 640px;
$tablet-max: 768px;
$widescreen-min: 1024px;



